doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
		title augenkrebs
		//- link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700',rel='stylesheet')
		link(rel='stylesheet', href='/css/app.css')
		script(defer, src='/js/vendor.js')
		script(defer, src='/js/app.js', onload='require("initialize")')
	body
		.spinner
			.double-bounce1
			.double-bounce2
