body {
  font-family: sans-serif;
  text-align: center;
}

#home
{
	text-decoration:none;
	color:black;
	font-size: 30pt;
	font-weight: bold;
	margin: 30px;
	display: block;
}

#home:hover
{
	text-decoration: underline;
}

#videourl
{
	width: 500px;
	text-align: center;
	font-size: 15pt;
}

.buttons
{
	padding: 20px;
}
.buttons input
{
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	margin: 5px;
}
.buttons input:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.buttons input:active {
	position:relative;
	top:1px;
}
