.row
	.page-header(style="text-align: center;")
		img.big-logo(src='/img/logo.svg')
		h1 augenkrebs
		h2 Internetabspielgerät
		h3 a 
			a(href='http://shackspace.de') shackspace
			|  project
		h4 inspired by 
			a(href='http://wiki.bytewerk.org/index.php/Byteplayer') Byteplayer
		h5 incubated by 
			a(href='http://shackspace.de') shackspace