.container
	.navbar-header
		a.navbar-brand(href="/")
			img(src='/img/logo-filled.svg')
			| augenkrebs
	.collapse.navbar-collapse
		.btn-group.navbar-right
			button#shutdown.btn.btn-primary.navbar-btn(href="#")
				| shutdown 
				| &nbsp;
				span.glyphicon.glyphicon-off
		ul.nav.navbar-nav.navbar-right(style='margin-right: 50px')
			li: a(href='/about') aboot
		