$def with ()

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>byteplayer</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<h1><a class="undecorated" href="/">byteplayer</a></h1>
	<div>
		<fieldset>
			<legend id="urlfieldlabel">Paste your URL below:</legend>
			<form name="video_form" method="get" >
				<input type="text" name="videourl" class="verywide" value=""></input><br>
				<input type="submit" name="do" value="open"></input>
				<input type="submit" name="do" value="pause"></input>
				<input type="submit" name="do" value="stop"></input>
			</form>
		</fieldset>
	</div>
	</body>
</html>
