$def with ()

<!DOCTYPE HTML>
<html>
	<head>
		<title>byteplayer</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<a id="home" href="/">byteplayer</a>
	<div>
		<form name="video_form" method="get" onsubmit="return false;">
			<!-- TODO: insert random example links with JS -->
			<input type="text" name="videourl" id="videourl" onclick="this.select()"
				placeholder="http://youtube.com/blubb"
			></input>
			
			<div id="buttons">
				<input type="submit" name="do" value="Open"></input>
				<input type="submit" name="do" value="Pause"></input>
				<input type="submit" name="do" value="Stop"></input>
			</div>
		</form>
	</div>
	</body>
	<script src="static/byteplayer.js" lang="text/javascript"></script>
</html>
