$def with ()

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>byteplayer</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<h1><a class="undecorated" href="/">byteplayer</a></h1>
	<div>
		<fieldset>
			<legend id="urlfieldlabel">Paste your URL below:</legend>
			<form name="video_form" method="get" >
				<input type="text" name="videourl" class="verywide" value=""></input><br>
				<select class="verywide" name="urltype">
					<option value="youtubedl">use youtube-dl to open the URL</option>
					<option value="plainurl">pass the URL directly to mplayer</option>
				</select><br>
				<input type="submit" name="do" value="play"></input>
				<input type="submit" name="do" value="pause"></input>
				<input type="submit" name="do" value="stop"></input>
			</form>
		</fieldset>
	</div>
	<div id="vspace"></div>
	<span id="proudlymade">Proudly made without PHP, Perl, Java, Flash, etc.</span>
	</body>
</html>
